.container
  .slider(id="slider")
    button.slider__button.slider__button-previous &#10155;
    .slider__screen
      ul.slider__box
        - for (let i = 1; i <= 10; i++)
          li.slider__item
            h4.slider__item-heading=i
          // /.slider__item
      // /.slider__box
    // /.slider__screen
    button.slider__button.slider__button-next &#10155;
    ul.slider__dots
      - for (let i =1; i <= 10; i++)
        li.slider__dot
    // /.slider__dots
  // /.slider
// /.container