.container
  max-width: 1270px
  height: 100%
  margin: auto
  padding: 15px
  display: flex
  justify-content: center
  align-items: center

.slider
  //display: flex
  //justify-content: center
  //align-items: center
  display: grid
  //grid-template-columns: 10% auto 10%
  //grid-template-rows: 100%  7%
  grid-template-areas: "button-previous top button-next" ". bottom ."
  //justify-items: center

  &__button
    font-size: 30px
    color: white
    background-color: transparent
    border: none
    outline: none
    &:hover
      cursor: pointer
      color: wheat
    &:active
      position: relative
      top: 2px
      outline: none

  &__button-previous
    transform: rotateY(180deg)
    grid-area: button-previous

  &__button-next
    grid-area: button-next

  &__screen
    width: 400px
    height: 300px
    overflow: hidden
    border-radius: 4px
    grid-area: top

  &__box
    width: 9999px
    font-size: 0
    margin-left: -400px

  &__item
    display: inline-flex
    justify-content: center
    align-items: center
    width: 400px
    height: 300px
    background-color: antiquewhite

  &__item_active, &__item_next-active, &__item_previous-active
    display: inline-flex

  &__item_hidden
    display: none

  &__item_last
    display: inline-flex
    float: left


  &__item-heading
    font-size: 40px
    color: rgb(2,0,36)

  &__dots
    font-size: 0
    grid-area: bottom
    margin-top: 15px
    width: 100%
    display: inline-flex
    justify-content: space-evenly

  &__dot
    display: inline-flex
    width: 10px
    height: 10px
    border: 2px solid white
    border-radius: 50%
    &:hover
      cursor: pointer
      opacity: 0.6

  &__dot_active
    opacity: 0.6