.container
  max-width: 1270px
  height: 100%
  margin: auto
  padding: 15px
  display: flex
  justify-content: center
  align-items: center

.slider
  display: flex
  justify-content: center
  align-items: center

  &__button
    font-size: 30px
    color: white
    background-color: transparent
    border: none
    outline: none
    &:hover
      cursor: pointer
      color: wheat
    &:active
      position: relative
      top: 2px
      outline: none

  &__button-previous
    transform: rotateY(180deg)

  &__screen
    width: 400px
    height: 300px
    overflow: hidden
    border-radius: 4px

  &__box
    width: 9999px
    font-size: 0
    margin-left: -400px
    //&:before, &:after
      display: table
      content: ''

  &__item
    display: inline-flex
    justify-content: center
    align-items: center
    width: 400px
    height: 300px
    background-color: antiquewhite

  &__item_active, &__item_next-active, &__item_previous-active
    display: inline-flex

  &__item_hidden
    display: none

  &__item_last
    display: inline-flex
    float: left


  &__item-heading
    font-size: 40px
    color: rgb(2,0,36)